@font-face {
    font-family: 'shabnam';
    src:  url('/font/Shabnam.ttf') format('woff2'),
    url('/font/Shabnam-Bold.ttf') format('woff');
}

*{
    margin: 0;
    padding: 0;
    font-family: shabnam;
}
.navmenu{
    list-style-type: none;
    font-family: shabnam;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 30px 0.5px lightblue;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: rgba(127,127,127,0.05);
}

.navmenu li{
    display: inline-block;
}

.navmenu a{
    padding: 20px;
    text-decoration: none;
}

.navmenu a:hover{
    color: darkcyan;
    cursor: pointer;
    transition: 2s;
}